{% if page.comments == true %}
<div class="giscus wrap">
  <script
    src="https://giscus.app/client.js"
    data-repo="roopxx/roopxx.github.io"
    data-repo-id="R_kgDOQFNCew"
    data-category="Blog comments"
    data-category-id="DIC_kwDOQFNCe84Cw3hf"
    data-mapping="title"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="en"
    crossorigin="anonymous"
    async
  ></script>
</div>
{% endif %}
