.bg {
  background-color: var(--color-bg-primary);
}

.bg-2 {
  background-color: var(--color-bg-secondary);
}

.bg-tx {
  background-color: var(--color-tx-normal);
}

.bg-tx-2 {
  background-color: var(--color-tx-muted);
}

.bg-tx-3 {
  background-color: var(--color-tx-faint);
}

.bg-ui {
  background-color: var(--color-ui-normal);
}

.bg-ui-2 {
  background-color: var(--color-ui-hover);
}

.bg-ui-3 {
  background-color: var(--color-ui-active);
}

.bg-black {
  background-color: var(--palette-black);
}

.bg-paper {
  background-color: var(--palette-paper);
}

.bg-palette-950 {
  background-color: var(--palette-950);
}

.bg-palette-900 {
  background-color: var(--palette-900);
}

.bg-palette-850 {
  background-color: var(--palette-850);
}

.bg-palette-800 {
  background-color: var(--palette-800);
}

.bg-palette-700 {
  background-color: var(--palette-700);
}

.bg-palette-600 {
  background-color: var(--palette-600);
}

.bg-palette-500 {
  background-color: var(--palette-500);
}

.bg-palette-300 {
  background-color: var(--palette-300);
}

.bg-palette-200 {
  background-color: var(--palette-200);
}

.bg-palette-150 {
  background-color: var(--palette-150);
}

.bg-palette-100 {
  background-color: var(--palette-100);
}

.bg-palette-50 {
  background-color: var(--palette-50);
}

.bg-re {
  background-color: var(--color-re);
}

.bg-or {
  background-color: var(--color-or);
}

.bg-ye {
  background-color: var(--color-ye);
}

.bg-gr {
  background-color: var(--color-gr);
}

.bg-cy {
  background-color: var(--color-cy);
}

.bg-bl {
  background-color: var(--color-bl);
}

.bg-pu {
  background-color: var(--color-pu);
}

.bg-ma {
  background-color: var(--color-ma);
}

.bg-re-2 {
  background-color: var(--color-re-hover);
}

.bg-or-2 {
  background-color: var(--color-or-hover);
}

.bg-ye-2 {
  background-color: var(--color-ye-hover);
}

.bg-gr-2 {
  background-color: var(--color-gr-hover);
}

.bg-cy-2 {
  background-color: var(--color-cy-hover);
}

.bg-bl-2 {
  background-color: var(--color-bl-hover);
}

.bg-pu-2 {
  background-color: var(--color-pu-hover);
}

.bg-ma-2 {
  background-color: var(--color-ma-hover);
}

.bg-red-600 {
  background-color: var(--palette-red-600);
}

.bg-orange-600 {
  background-color: var(--palette-orange-600);
}

.bg-yellow-600 {
  background-color: var(--palette-yellow-600);
}

.bg-green-600 {
  background-color: var(--palette-green-600);
}

.bg-cyan-600 {
  background-color: var(--palette-cyan-600);
}

.bg-blue-600 {
  background-color: var(--palette-blue-600);
}

.bg-purple-600 {
  background-color: var(--palette-purple-600);
}

.bg-magenta-600 {
  background-color: var(--palette-magenta-600);
}

.bg-red-400 {
  background-color: var(--palette-red-400);
}

.bg-orange-400 {
  background-color: var(--palette-orange-400);
}

.bg-yellow-400 {
  background-color: var(--palette-yellow-400);
}

.bg-green-400 {
  background-color: var(--palette-green-400);
}

.bg-cyan-400 {
  background-color: var(--palette-cyan-400);
}

.bg-blue-400 {
  background-color: var(--palette-blue-400);
}

.bg-purple-400 {
  background-color: var(--palette-purple-400);
}

.bg-magenta-400 {
  background-color: var(--palette-magenta-400);
}
