---
layout: default
---
<h1>{{ page.title }}</h1>

{{ content }}

{% assign items = site.posts
  | where_exp: 'item', 'item.date'
  | sort: 'date'
  | reverse
%}
{% if items.size > 0 %}
  <span class="label">All notes</span>
  <ul class="rows">
    {% for item in items %}
      <li>
        <div class="row-head">
          <a class="t plain" href="{{ item.url | relative_url }}">
            {{- item.title -}}
          </a>
          <span class="meta">{{ item.date | date: '%b %-d, %Y' }}</span>
        </div>
        {% assign blurb = item.description | default: item.summary %}
        {% if blurb %}
          <div class="row-desc">{{ blurb }}</div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
