---
layout: default
---
<h1
  ><a class="muted plain" href="{{ '/tags/' | relative_url }}">Tags</a>
  <span class="faint">/</span> {{ page.tag -}}
</h1>
{% assign tagged = site.posts
  | where_exp: 'post', 'post.tags contains page.tag'
%}
<p class="meta">
  {{- tagged | size }} note{% if tagged.size != 1 %}s{% endif -%}
</p>
<ul class="rows">
  {% for post in tagged %}
    <li>
      <div class="row-head">
        <a class="t plain" href="{{ post.url | relative_url }}">
          {{- post.title -}}
        </a>
        <span class="meta">{{ post.date | date: '%Y · %m' }}</span>
      </div>
    </li>
  {% endfor %}
</ul>
